
nav {
	background: #FE7E00;
	height: 75px;
	position: fixed;
	top:0;
	left:0;
	right:0;
	
}
.logo{ 
font-size: 22px; 
float:left;
font-family:'Noto Sans', sans-serif;
font-weight: bold;
text-decoration: none ;
color: white;

}
.logo span {
	font-weight: normal;
	color:white;
	text-decoration: none;
	
}
.topnav {
	float: right;
	margin: 25px;
}
.topnav li {
	display: inline-block;
	margin: 0 auto;
}
.seachbox {
	background-color:#f0f0f0;
	float: right;
	padding: 100px 50px 100px 50px;
}
.orange img {
	float: left;
	width: 40%;
	display: inline-block;
padding-top: 250px;
}
.callTO {
	float: right;
	padding-top: 250px;
	width: 50%;
	font-size: 22px;
	font-family: thin 'Roboto', sans-serif;
}
.callTO span{
	color: orange;
	font-weight: bold;
}
.callTO .fonts > span{
	color: #7accc8;
	font-weight: bold;

}
.callTO .leftbutton >button{
	padding: 16px;
	width: 185px;
	background-color: #FE7E00;
	letter-spacing: 6px;
	border:0;
	color: white;
	margin-left: 50px;
	float: left;
}
.callTO .rightbutton > button{
float: right;
	background-color: #7accc8;
	padding: 10px; 
	color: white;
	border: 0;
	width: 190px;
	letter-spacing: 6px;
	margin-right: 50px;
}

footer {
	bottom: 0;
	background-color: #7accc8;
	height: 75px;
	position: fixed;
	width: 100%;
}